<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
        </ul>
    </div>
  </nav>
  <body>
    <div class="container">


  
<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input id="name" type="text" class="form-control" name="postTitle"  aria-describedby="emailHelp" placeholder="">
        <label id="email" for="exampleInputEmail1">Post</label>
        <textarea  class="form-control" name="postBody" id="" cols="80" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>


</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Sarkar</p>
  </div>
</div>
</body>

</html>



